/* Resetting */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    color: white;
    font-family: 'Saira Semi Condensed', sans-serif;
  }
  body {
    margin: 0;
    background-color: black;
  }
  main {
    display: block;
  }
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  a {
    background-color: transparent;
  }

  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }

  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }
  /* End of Resetting */

  /* HEADER */

header { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4.375rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-radius: 0 0 1rem 1rem;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    z-index: 25;
}

header .logoimg {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    flex-wrap: nowrap;
}

.imgcontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 1;
    width: 20%;
    height: 100%;
}

 header img {
max-width: 100%;
max-height: 100%;
}

 header ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width: 35%;
    margin-right: 5%;
}

/* END OF HEADER */

/* Main Page */
.slogan {
    width: 100vw;
    height: calc(100vh - 3.4rem);
    margin-top: 3.4rem;
    border: 1px solid black;
    background-image: url(../Images/jakub.jpg);
    background-size:cover;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.ordernow {
    position: relative;
    top: 6.5%;
    left: 7%;;
    border: 1px solid white;
    border-radius: 1rem;
    height: 35rem;
    width: 30rem;
    background-color: rgba(0, 0, 0, 0.8);
}

.ordernow .ordertext {
    color: white;
    margin-top: 1.5rem;
    margin-left: 3.5rem;
    font-size: 3.5rem;
    font-weight: 900;
}

.redtext {
    color: #cb0000;
}

.buy {
position: absolute;
left: 50%;
transform: translateX(-50%);
background-color: #cb0000;
color: #fff;
border:none; 
border-radius:10px; 
padding:15px;
min-height:30px; 
min-width: 120px;
}
/* End of main page */

/* Mission */

.mission {
    height: 100vh;
    width: 100vw;
    background-image: url(../Images/mission-background.jpg);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    height: 40%;
    width: 100%;
    border: 1px solid white;
    border-radius: 1rem;
    background-color: black;
}

.mission-box p {
    margin-top: 2.5rem;
    font-size: 1.3rem;
}

/* End of Mission */

/* Gallery */

.gallery {
    height: 90vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.messageheader h1 {
    margin-top: 0;
}

.grid {
    width: 80%;
    height: 80%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0.5rem 0.5rem;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid white;

}

.grid .pic7 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}

.grid .pic5 {
    grid-column: 3 / 7;
    grid-row: 1 / 5;
    height: 84.5%;
}

.grid .pic8 {
    grid-column: 7 / 9;
    grid-row: 1 / 4;
}

.grid .pic3 {
    grid-column: 1 / 3;
    grid-row: 4 / 7;
}

.grid .pic1 {
    display: flex;
    align-items: flex-end;
    grid-column: 3 / 5;
    grid-row: 3 / 8;
}

#pic11 {
    height: 65%;
}

.grid .pic9 {
    display: flex;
    align-items: flex-end;
    grid-column: 5 / 7;
    grid-row: 3 / 8;
}

#pic99 {
    height: 65%;
}

.grid .pic4 {
    grid-column: 7 / 9;
    grid-row: 4 / 8;
}

@media only screen and (width <= 768px) {
    .grid {
        width: 80%;
        height: 80%;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        display: grid;
        grid-template-rows: repeat(13, 1fr);
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0.5rem 0.5rem;
    }
    .grid .pic7 {
        grid-column: 1 / 5;
        grid-row: 1 / 4;
    }
    .grid .pic5 {
        grid-column: 5 / 9;
        grid-row: 1 / 4;
        height: 100%;
    }
    .grid .pic8 {
        grid-column: 1 / 5;
        grid-row: 4 / 7;
    }
    .grid .pic3 {
        grid-column: 5 / 9;
        grid-row: 4 / 7;
    }
    .grid .pic1 {
        display: block;
        height: 75%;
        grid-column: 1 / 5;
        grid-row: 7 / 11;
    }
    #pic11 {
        height: 100%;
    }
    .grid .pic9 {
        display: block;
        height: 75%;
        grid-column: 5 / 9;
        grid-row: 7 / 11;
    }
    #pic99 {
        height: 100%;
    }
    .grid .pic4 {
        grid-column: 1 / 9;
        grid-row: 10 / 14;
    }
}

/* End of Gallery */

/* Message */

.message {
    height: 75vh;
    width: 100vw;
    background-color: black;
}

.image {
    height: 90%;
    width: 25%;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3rem;
}

.paragraph {
    height: 80%;
    width: 45%;
    margin-right: 8%;
}

.messageheader {
    width: 100%;
    display: flex;
    justify-content: center;
}
.mainblock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 65%;
}

.paragraph p {
    font-size: 2.1rem;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 2.5rem;
    margin-bottom: 0;
}

.sign {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
}

.sign img {
    max-width: 100%;
    max-height: 100%;
}

footer {
    width: 100vw;
    height: 10vh;
    background-color: #cb0000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.f img {
    margin-top: 0.3rem;
    width: 2.5rem;
    height: 2.1rem;
}

.middleimg {
    margin-left: 1rem;
    margin-right: 1rem;
}

footer p {
    margin-top: 0.1rem;
    font-size: 0.5rem;
    color: black;
}

/* Screen sizes */

@media only screen and (width <= 768px) {
    header ul {
        margin-right: 0%;
    }
    h1 {
        font-size: 1.7rem;
    }
    .paragraph p {
        font-size: 1.5rem;
        font-family: 'Shadows Into Light', cursive;
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
    .mission-box p {
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }
}

@media only screen and (width <= 600px) {
    h1 {
        font-size: 1rem;
    }
    .ordernow {
        position: relative;
        top: 6.5%;
        left: 5%;;
        border: 1px solid white;
        border-radius: 1rem;
        height: 27rem;
        width: 20rem;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .ordernow .ordertext {
        color: white;
        margin-top: 1rem;
        margin-left: 3rem;
        font-size: 2.7rem;
        font-weight: 900;
    }
    .sign img {
        max-width: 50%;
        max-height: 50%;
    }

 header ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width: 45%;
    margin-right: 5%;
}
}

@media only screen and (width <= 400px) {
.paragraph p {
    font-size: 1.3rem;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 2.5rem;
    margin-bottom: 0;
    }
    .ordernow {
        position: relative;
        top: 6.5%;
        left: 5%;;
        border: 1px solid white;
        border-radius: 1rem;
        height: 25rem;
        width: 18rem;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .ordernow .ordertext {
        color: white;
        margin-top: 1rem;
        margin-left: 3rem;
        font-size: 2.5rem;
        font-weight: 900;
    }

    header ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        align-items: center;
        width: 55%;
        margin-right: 5%;
    }
}

/* End of Message */